

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Notifier holidays</h1>
        <p>Es una aplicacion quele permitira notificar a sus clientes mediante un mail los dias feriados , asi esten al tanto de los dias que usted no trabaja</p>
        <p><a class="btn btn-primary btn-large" href="http://localhost:3000/users/sign_in#">Adquirir ahora »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Notificación Automática</h2>
          <p>Automatize la notificación de sus días no laborables. Fácil interfáz configurable. Cargue sus datos personales, lista de clientes y calendario de feriados y despreocúpese de olvidar notificar un feriado a sus clientes.</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">Ver Detalles »</a></p>
        </div>
        <div class="span4">
          <h2>Envío Masivo de Emails</h2>
          <p>Hasta 200 emails por dia con cuenta free. Consulte planes especiales.</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">Ver Detalles »</a></p>
       </div>
        <div class="span4">
          <h2>Emails personalizados</h2>
          <p>Flexible para generar marcado y cargar templates a su medida.</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">Ver Detalles »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© by fl </p>
      </footer>


  
